@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Open_Sans", "Open Sans";
  font-weight: 500;
  font-style: normal;
}

.clip-wave {
  clip-path: polygon(0% 0, 0% 80%, 0% 100%, 95% 0%);
  width: 100%;
  z-index: 0;
}